torch
numpy
scipy
requests
beautifulsoup4
pillow
transformers
sentencepiece
accelerate
nltk
spacy
requests-html
lxml
tqdm
colorlog
flask-cors
python-dotenv
Flask
ctransformers
gunicorn
duckduckgo_search
datetime